<a href="#" class="btn btn-primary btn-sm" ng-click="showCreateAccount = !showCreateAccount">
    <span class="glyphicon glyphicon-cog"></span> Create account
</a>
<div class="panel panel-info" ng-show="showCreateAccount">
    <div class="panel-heading">
        <h4 class="panel-title">Account create</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="input-group">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input class="form-control" type="text" ng-model="account_obj.name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Balance</span>
                    <input class="form-control" type="text" ng-model="account_obj.balance">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Currency</span>
                    <input class="form-control" type="text" ng-model="account_obj.currency">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Interest rules</span>
                    <input class="form-control sidebyside" type="text" ng-model="account_obj.rules[0].percent">
                    <input class="form-control sidebyside" type="text" ng-model="account_obj.rules[0].rule">
                    <input class="form-control sidebyside" type="text" ng-model="account_obj.rules[0].amount">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Start Date</span>
                    <input class="form-control" type="date" ng-model="account_obj.startdate">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">End Date</span>
                    <input class="form-control" type="date" ng-model="account_obj.enddate">
                </div>
                <button type="submit" class="btn btn-success" ng-click="createAccount()">Create</button>
            </div>
        </form>
    </div>
</div>
